# ESP32 Dashboard Main Project gitignore
/build/
/sdkconfig
/sdkconfig.old
/sdkconfig.defaults.old
/dependencies.lock
/managed_components/

# 设计源文件 (SquareLine Studio)
/GUI_design/

# SquareLine 导出测试目录
/LGVL_TEST/

# 独立的 Windows 仿真端子项目
/Simulation_app/

# 参考项目
/Reference/
mac_flash_app/dist/
mac_flash_app/build/
